<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="static/css/style.css">
  <meta charset="UTF-8">
  <title>Short</title>
</head>
<body class="push-animate">
  
<button id="api-close-btn" class="api-close-btn">×</button>

  <!-- データ表示用のモーダル -->
<div id="dataModal" class="modal">
  <div class="modal-content">
    <div class="actions">
      <a href="/download_shortage_xlsx">
        <button class="download-btn">ダウンロード</button>
      </a>
    </div>
    <div id="modalTitle"></div>
    <div id="modalData">Short<br>↓↓↓<br></div>
  </div>
</div>
  <table>
  <tr>
    <th>商品名</th>
    <th>在庫unit数</th>
    <th>未プランunit数</th>
    <th>差分</th>
  </tr>
  {% for row in shipments %}
  <tr>
    <td>{{ row["商品名"] }}</td>
    <td>{{ row["在庫unit数"] }}</td>
    <td>{{ row["未プランunit数"] }}</td>
    <td>{{ row["差分"] }}</td>
  </tr>
  {% endfor %}
</table>

</div>


<script src="static/js/script.js"></script>
</body>
</html>
