<!DOCTYPE html>
<html lang="ja">
 <head>
  <link rel="stylesheet" href="static/css/style.css">
  <meta charset="UTF-8">
  <title>問い合わせフォーム</title>
 </head>
 <body>

  <form id="contactForm" class="contact-form">
   <h2>問い合わせフォーム</h2>
   <p>下記問い合わせ内容をご記入ください。問い合わせには時間がかかることがあります。予めご了承ください</p>

   <fieldset>
    <legend>問い合わせ内容（複数選択可）<span style="color:red;">※必須</span></legend>
    <label><input type="checkbox" name="request" value="操作方法がわからない">操作方法がわからない</label><br>
    <label><input type="checkbox" name="request" value="データが正しく表示されない／反映されない">データが正しく表示されない／反映されない</label><br>
    <label><input type="checkbox" name="request" value="機能追加・改善の要望">機能追加・改善の要望</label><br>
    <label><input type="checkbox" name="request" value="帳票・レポートの出力について相談したい">帳票・レポートの出力について相談したい</label><br>
    <label><input type="checkbox" name="request" value="その他">その他</label>
   </fieldset>

   <label for="name">お名前</label>
   <input type="text" id="name" name="name" placeholder="例：山田太郎">

   <label for="email">メールアドレス</label>
   <input type="email" id="email" name="email" placeholder="例：taro@example.com">

   <label for="message">問い合わせ詳細</label>
   <textarea id="message" name="message" placeholder="自由記入欄です"></textarea>

   <button type="submit">送信</button>
</form>

  <div id="pageCloseButton" onclick="logout()">×</div>
  <script src="static/js/script.js"></script>
 </body>
</html>
