<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8">
  <title>出荷済み7日分</title>
</head>
<body class="about-page">

  <!-- データ表示用のモーダル -->
<div id="dataModal" class="modal">
  <div class="modal-content">
    <div class="actions">
      <a href="#" download>
  　　  <button class="download-btn">ダウンロード</button>
　　  </a>
      <span class="close-btn" onclick="closeModal()">×</span>
    </div>
    <div id="modalTitle"></div>
    <div id="modalData">ここにデータが表示されます</div>
  </div>
</div>

<script src="js/script.js"></script>
</body>
</html>











